name: compile-commands
on: workflow_dispatch
jobs:
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install tools
        run: |
          brew install bear
      - name: Build & emit compile_commands.json
        run: |
          bear -- xcodebuild -project Privileges.xcodeproj -scheme Privileges -configuration Release CODE_SIGNING_ALLOWED=NO
      - uses: actions/upload-artifact@v4
        with:
          name: compile_commands
          path: compile_commands.json
